body {
  background-color: red !important;
  margin: 0;
  padding: 0;
  height: 100vh; /* Используем vh для совместимости */
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game-container {
  background: blue !important; /* Если это сработает, вы увидите синий блок */
  height: 100%;
  width: 100%;
}
